*{
   padding: 0;
   margin: 0;
   font-family: 'poppins', sans-serif;
}
body{
   background-color: #acf3e4;
   display: grid;
   height: 100vh;
   place-items: center;
}
.main{
   width: 400px;
   height: 450px;
   background-color: rgb(151, 13, 13);
   position: absolute;
   border: 5px solid rgb(170, 100, 236);
   border-radius: 6px; 
}
.main input[type='text'] {
   width: 88%;
   position: relative;
   height: 80px;
   top: 5px;
   text-align: right;
   padding: 3px 6px;
   outline: none;
   font-size: 40px;
   border: 5px solid rgb(243, 225, 225);
   display: flex;
   margin: auto;
   border-radius: 6px;
   color: rgb(197, 119, 119);
}
.btn input[type='button']{
   width:90px;
   padding: 2px;
   margin: 2px 0px;
   position: relative;
   left: 13px;
   top: 20px;
   height: 60px;
   cursor: pointer;
   font-size: 18px;
   transition: 0.5s;
   background-color: #79e4cd;
   border-radius: 6px;
   color: rgb(143, 58, 58);
}
.btn input[type='button']:hover{
   background-color: rgb(146, 78, 78);
   color: rgb(170, 70, 70);
}